<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
    <script src="http://localhost:8098"></script>
    <title>Document</title>
</head>
<body>
    <div id="app" class="container flex-centered" @mousemove="restoreCountdown">
        <div class="columns" style="z-index=999">
            <div class="column col-auto col-mx-auto">
                <transition name="fade">
                    <div class="" id="my_input" ref="my_input" v-show="isFormVisible">
                        <h3 @click="test_click" >Ну давай пиши</h3>
                        <input type="text" v-model="iText" placeholder="here">
                    </div>
                </transition>
            </div>
        </div>
        <anim-text v-for="(at, index) in animTexts"
            v-bind:text="at.text"
            v-bind:xx="at.xx"
            v-bind:yy="at.yy"
            :id="at.id"
            :font="at.fontSize"
            v-bind:key="at.id"
            v-bind:dduration="at.dduration"
            v-on:remove="rremove(at.id)">
        </anim-text>
    </div>
</body>
<script>

    function getRandomArbitrary(min, max) {
        return Math.round(Math.random() * (max - min) + min);
    }

    Vue.component('anim-text', {
        props: ['text', 'xx', 'yy', 'dduration', 'id', 'font'],
        template: `
            <transition appear
                v-on:before-enter="_beforeEnter"
                v-on:enter="_enter"
                v-on:leave="_leave"
                v-bind:css="false"
            >
                <div class="test-text">
                    {{ text }}
                </div>
            </transition>
        `,
        computed: {
            x() {
                return this.xx + 'vw'
            },
            y() {
                return this.yy + 'vh'
            },
            dir() {
                // определяем направленние
                if (this.xx == 0){
                    return '100vw'
                }else{
                    return '-100vw'
                }
            },
            fontSize() {
                return this.font + 'em'
            },
            duration() {
                return this.dduration * this.font
            }, 
            opacity() {
                console.log((1 / (this.duration) * 10000))
                return (1 / (this.duration) * 10000)
            }
        },
        methods: {
            _beforeEnter(el) {
                el.style.opacity = 0
                el.style.left = this.x
                el.style.top = this.y
                el.style.fontSize = this.fontSize
            },
            _enter(el, duration, done) {
                // анимация появления
                Velocity(el, {opacity: this.opacity}, {duration: 1000})
                // анимация движения
                Velocity(el, {translateX: this.dir}, {duration: this.duration, complete: done});
            },
            _done() {
                this.$emit('remove')
            },
            _leave(el, done) {
                // анимация угасания
                Velocity(el, {opacity: 0}, {duration: 100, complete: done})
            }
        },
        mounted() {
            // убираем элемент когда закончатся все анимации
            setTimeout(this._done, this.duration)
        }
    });

    let last_id = 0

    new Vue({
        el: '#app',
        data: {
            iText: '',
            fadeCounter: 6,
            isFormVisible: true,
            textCount: 0,
            animTexts: []
        },
        watch: {
            iText() {
                this.animTexts.forEach(element => element.text = this.iText)
            }
        },
        methods: {
            rremove(el) {
                this.animTexts = this.animTexts.filter(entry => entry.id !== el)
            },
            countDown() {
                setTimeout( () => {
                    if (this.fadeCounter > 0){
                        this.fadeCounter--
                    }else if (this.fadeCounter == 0){
                        this.isFormVisible = false;
                    }
                    if ( this.animTexts.length < 20){
                        this.animTexts.push({
                            text: this.iText, 
                            xx: this.xxx(), 
                            yy: this.yyy(), 
                            dduration: 5000,
                            id: last_id++,
                            fontSize: this.font_size()
                        });
                    }
                    this.countDown()
                }, 1000);
            },
            restoreCountdown() {
                this.fadeCounter = 6
                this.isFormVisible = true
            },
            xxx() {
                let v = [0, 100][getRandomArbitrary(0, 1)]
                return v
            },
            yyy() {
                let v = getRandomArbitrary(10, 70);
                return v;
            },
            font_size() {
                let v = getRandomArbitrary(1, 9);
                return v
            }
        },
        mounted() {
            this.countDown()
        }
    })
</script>
<style>
    .container {
        height: 100vh;
    }
    .fade-enter-active, .fade-leave-active {
        transition: opacity 1.5s;
    }

    .fade-enter, .fade-leave-to {
        opacity: 0;
    }

    .test-text {
        position: absolute;
    }
</style>
</html>
